<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Inicio
            </a>
            <a mat-list-item routerLink="/categorias">
                <i class="material-icons">
                    category
                </i>
                Categoria
            </a>
            <a mat-list-item routerLink="/produtos">
                <i class="material-icons">
                    storefront
                </i>
                Produtos
            </a>
            <a mat-list-item routerLink="/pedidos">
                <i class="material-icons">
                    add_shopping_cart
                </i>
                Pedidos
            </a>
            <a mat-list-item routerLink="/usuarios">
                <i class="material-icons">
                    person
                </i>
                Usuários
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>